
<section>
{{#if isLoggedIn}}
{{!-- <div><a href="/userProfile">User Profile</a></div> --}}
<div><a href="/adminlogout">Logout</a></div>
{{else}}
<a href="/adminlogin">Login</a>
{{/if}}
<h1>All Available Flights</h1>
<ul>
{{#each solution1}}

<li><a href="/admin/editflight/{{_id}}">{{flightCode}}{{arrival}}{{departure}}</a> </li>

{{/each}}
</ul>  
</section>