<section>
      <form id="adminformid" method="post" name="editflightdetails" action="/admin/editflight/{{solution1._id}}">

      <label for="flightcodeInput">Flight Code</label>
      <input id="flightcodeInput" name="flightcodeInput"  placeholder="Flight Code" value="{{solution1.flightCode}}">

      <label for="departureInput">Departure</label>
      <input id="departureInput" name="departureInput"  placeholder="Departure" value="{{solution1.departure}}">
    
      <label for="arrivalInput">Arrival</label>
      <input id="arrivalInput" name="arrivalInput"  placeholder="Arrival" value="{{solution1.arrival}}">
      
     <label for="departimeInput">Departure Time</label>
      <input id="departimeInput" name="departimeInput"  placeholder="Departure Time" value="{{solution1.departureTime}}">
      
       <label for="arrTimeInput">Arrival Time</label>
      <input id="arrTimeInput" name="arrTimeInput"  placeholder="Arrival Time" value="{{solution1.arrivalTime}}">
      
      <label for="durationInput">Duration</label>
      <input id="durationInput" name="durationInput"  placeholder="Duration" value="{{solution1.duration}}">

      <label for="milesInput">Miles</label>
      <input id="milesInput" name="milesInput"  placeholder="Miles" value="{{solution1.miles}}">

      <label for="dateInput">Date</label>
      <input id="dateInput" name="dateInput"  placeholder="Date" value="{{solution1.date}}">


      <button type="submit">Submit</button>

      </form>

  <div class="hidden" id="error-container">
    <div class="text-goes-here">
    </div>
     <script src="/public/js/homepage.js"></script>
</section>