   <section>
    <h2>Edit Flight Details</h2>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid well" id="home" style="display:block; padding-top:10px;padding-bottom:10px">
            
        <ul class="navbar-nav">
            
        {{#if isLoggedIn}}
        <li class="nav-item" style="float:right;display:block;padding-left:10px;padding-right:10px;">
        <a class="nav-link" href="/adminlogout">Logout</a></li>
        {{else}}
        <li class="nav-item" style="float:right;display:block;padding-left:10px;padding-right:10px;">
        <a class="nav-link" href="/adminlogin">Login</a></li>
        {{/if}}
        </ul></div></nav>

 {{#if haserror}}
<div >Error : {{error}}</div>
{{/if}}

    
    <form id="adminformid" method="post" name="editflightdetails" action="/admin/editflight/{{solution1._id}}">
   
    <label for="flightcodeInput" class="form-label">Flight Code</label>
    <input id="flightcodeInput" class="form-control" name="flightcodeInput"  placeholder="Flight Code" value="{{solution1.flightCode}}">

    <label for="departureInput" class="form-label">Departure City</label>
    <input id="departureInput" class="form-control" name="departureInput"  placeholder="Departure City" value="{{solution1.departure}}">
    
    <label for="arrivalInput" class="form-label">Arrival City</label>
    <input id="arrivalInput" class="form-control" name="arrivalInput"  placeholder="Arrival City" value="{{solution1.arrival}}">

    <label for="departureDateInput" class="form-label">Departure Date</label>
    <input id="departureDateInput"  class="form-control" name="departureDateInput"  placeholder="departureDateInput" value="{{solution1.departureDate}}">
      
    <label for="departimeInput" class="form-label">Departure Time</label>
    <input id="departimeInput" class="form-control" name="departimeInput"  placeholder="Departure Time" value="{{solution1.departureTime}}">

    <label for="arrivalDateInput" class="form-label">Arrival Date</label>
    <input id="arrivalDateInput" class="form-control" name="arrivalDateInput"  placeholder="arrivalDateInput" value="{{solution1.arrivalDate}}">
      
    <label for="arrTimeInput" class="form-label">Arrival Time</label>
    <input id="arrTimeInput"  class="form-control" name="arrTimeInput"  placeholder="Arrival Time" value="{{solution1.arrivalTime}}">
      
    <label for="durationInput" class="form-label">Duration</label>
    <input id="durationInput" class="form-control" name="durationInput"  placeholder="Duration" value="{{solution1.duration}}">

    <label for="milesInput" class="form-label">Miles</label>
    <input id="milesInput" class="form-control" name="milesInput"  placeholder="Miles" value="{{solution1.miles}}">

    <button type="submit">Submit</button>

    </form>

<div class="hidden" id="error-container">
  <div class="text-goes-here">
  </div>
    <script src="/public/js/homepage.js"></script>
</div></section>




 