{{#if isLoggedIn}}
{{!-- <div><a href="/userProfile">User Profile</a></div> --}}
<div><a href="/adminlogout">Logout</a></div>
{{else}}
<a href="/adminlogin">Login</a>
{{/if}}
<section>
    <form id="adminformid" method="post" name="editflightdetails" action="/admin/editflight/{{solution1._id}}">

    <label for="flightcodeInput">Flight Code</label>
    <input id="flightcodeInput" name="flightcodeInput"  placeholder="Flight Code" value="{{solution1.flightCode}}">

    <label for="departureInput">Departure City</label>
    <input id="departureInput" name="departureInput"  placeholder="Departure City" value="{{solution1.departure}}">
    
    <label for="arrivalInput">Arrival City</label>
    <input id="arrivalInput" name="arrivalInput"  placeholder="Arrival City" value="{{solution1.arrival}}">

    <label for="departureDateInput">Departure Date</label>
    <input id="departureDateInput" name="departureDateInput"  placeholder="departureDateInput" value="{{solution1.departureDate}}">
      
    <label for="departimeInput">Departure Time</label>
    <input id="departimeInput" name="departimeInput"  placeholder="Departure Time" value="{{solution1.departureTime}}">

    <label for="arrivalDateInput">Arrival Date</label>
    <input id="arrivalDateInput" name="arrivalDateInput"  placeholder="arrivalDateInput" value="{{solution1.arrivalDate}}">
      
    <label for="arrTimeInput">Arrival Time</label>
    <input id="arrTimeInput" name="arrTimeInput"  placeholder="Arrival Time" value="{{solution1.arrivalTime}}">
      
    <label for="durationInput">Duration</label>
    <input id="durationInput" name="durationInput"  placeholder="Duration" value="{{solution1.duration}}">

    <label for="milesInput">Miles</label>
    <input id="milesInput" name="milesInput"  placeholder="Miles" value="{{solution1.miles}}">

    <button type="submit">Submit</button>

    </form>

<div class="hidden" id="error-container">
  <div class="text-goes-here">
  </div>
    <script src="/public/js/homepage.js"></script>
    </section>