
<section>
{{#if isLoggedIn}}
<a href="/userProfile">User Profile</a>
{{else}}
<a href="/login">Login</a>
{{/if}}

<h1>{{title}}</h1>

<dl>

  <dt>Flight Code</dt>
  <dd>{{{solution1.flightCode}}}</dd>
  <dt>Departure City</dt>
  <dd>{{solution1.departure}}</dd>
  <dt>Arrival City</dt>
  <dd>{{solution1.arrival}}</dd>
  <dt>Departure Time</dt>
  <dd>{{solution1.departureTime}}</dd>
  <dt>Arrival Time</dt>
  <dd>{{solution1.arrivalTime}}</dd>
  <dt>Flight Duration</dt>
  <dd>{{solution1.duration}}</dd>
  <dt>Flight Miles</dt>
  <dd>{{solution1.miles}}</dd>
  <dt>Flight Classes Selected</dt>
  <p>{{solution1.flightClass.classType}} {{solution1.flightClass.price}}</p>

   <a href="/searchflights/flightdetails/{{solution1.id1}}/book">click kere to book flight</a>
</section>