
<section>
{{#if isLoggedIn}}
<div><a href="/userProfile">User Profile</a></div>
<div><a href="/logout">Logout</a></div>
{{else}}
<a href="/login">Login</a>
{{/if}}

{{#if haserror}}
<div >Error : {{error}}</div>
{{/if}}
<h1>{{title}}</h1>

<table class="table table-striped">
  <tbody>
  <tr>
    <td>Flight Code</td>
    <td>{{solution1.flightCode}}</td>
  </tr>

    <tr>
    <td>Departure City</td>
    <td>{{solution1.departure}}</td>
  </tr> 

   <tr>
    <td>Arrival City</td>
    <td>{{solution1.arrival}}</td>
  </tr>  
  
  <tr>
    <td>Departure Time</td>
    <td>{{solution1.departureTime}}</td>
  </tr>  
  
  <tr>
    <td>Arrival Time</td>
    <td>{{solution1.arrivalTime}}</td>
  </tr>

  <tr>
    <td>Flight Duration</td>
    <td>{{solution1.duration}}</td>
  </tr>

  <tr>
    <td>Flight Miles</td>
    <td>{{solution1.miles}}</td>
  </tr>


  <tr>
    <td>Flight Class Selected</td>
    <td>{{solution1.flightClass.classType}}</td>
  </tr>

    <tr>
    <td>Price</td>
    <td>{{solution1.flightClass.price}}USD</td>
  </tr>
</tbody>
</table>
<br>
<br>
   <a href="/searchflights/flightdetails/{{solution1.id1}}/book">click kere to book flight</a>
</section>