<section>
    <h1>Reviews:-</h1><hr>
    {{#each review}}
        <hr>
        <h2>{{review}}</h2>
        <h2>{{rating}}</h2>
        
        {{!-- <a href="/searchflights/{{_id}}&{{class}}&{{NoOfPass}}">click here for more details</a> --}}
    {{/each}}
</section>