<section>
    <h1>flights:-</h1><hr>
    <h2>{{class}}</h2>
    <h2>{{NoOfPass}}</h2>
    {{#each flights}}
        <hr>
        <h2>{{departure}}</h2>
        <h2>{{arrival}}</h2>
        <h2>{{date}}</h2>
        <h2>{{_id}}</h2>
        <h2>{{class}}</h2> 
        {{!-- {{#flightId _id}}{{/flightId}} --}}
        <a href="/searchflights/flightdetails/{{_id}}">click here for more details</a>
        {{!-- <button onclick="send({{}})">Click here for more Details</button> --}}
    {{/each}}
</section>