<section>
        <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid well" id="home" style="display:block; padding-top:10px;padding-bottom:10px">
            
        <ul class="navbar-nav">
    {{#if isLoggedIn}}
    <li class="nav-item" style="float:right;display:block;padding-left:10px;padding-right:10px;">
    <a class="nav-link" href="/userProfile">User Profile</a>
    </li>
    <li class="nav-item" style="float:right;display:block;padding-left:10px;padding-right:10px;">
    <a class="nav-link" href="/logout">Logout</a></li>
    <li class="nav-item" style="float:right;display:block;padding-left:10px;padding-right:10px;">
    <a  class="nav-link" href="/"> Homepage</a></li>
    {{else}}
    <li class="nav-item" style="float:right;display:block;padding-left:10px;padding-right:10px;">
    <a class="nav-link" href="/login">Login</a></li>
    <li class="nav-item" style="float:right;display:block;padding-left:10px;padding-right:10px;">
    <a  class="nav-link" href="/"> Homepage</a></li>
    {{/if}}
    </ul>
        </div>
        </nav>


    <h2>Available Flights: </h2><hr>
    {{#if noflights}}
    <h2>No flights found</h2>
    {{else}}
    <table class ="table table-striped">
        <thead>
        <tr>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Departure Date</th>
            <th>Flight Code</th>
            <th>Class</th>
            <th>No of Passengers</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
    {{#each flights}}
        <tbody><tr>
        <td>{{departure}}</td>
        <td>{{arrival}}</td>
        <td>{{departureDate}}</td>
        <td>{{flightCode}}</td>
        <td>{{class}}</td> 
        <td>{{NoOfPass}}</td>
        {{!-- {{#flightId _id}}{{/flightId}} --}}
        <td><a href="/searchflights/flightdetails/{{_id}}"> More Details</a></td>
        {{!-- <button onclick="send({{}})">Click here for more Details</button> --}}
        </tr>
        </tbody>
    {{/each}}
    </table>
    {{/if}}
</section>