<section>
    {{#if isLoggedIn}}
    <div><a href="/userProfile">User Profile</a></div>
    <div><a href="/logout">Logout</a></div>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
    <h1>Available Flights: </h1><hr>
   
    <table class ="table table-striped">
        <thead>
        <tr>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Departure Date</th>
            <th>Flight Code</th>
            <th>Class</th>
            <th>No of Passengers</th>
        </tr>
        </thead>
    {{#each flights}}
        <tbody><tr>
        <td>{{departure}}</td>
        <td>{{arrival}}</td>
        <td>{{departureDate}}</td>
        <td>{{flightCode}}</td>
        <td>{{class}}</td> 
        <td>{{NoOfPass}}</td>
        {{!-- {{#flightId _id}}{{/flightId}} --}}
        <td><a href="/searchflights/flightdetails/{{_id}}"> More Details</a></td>
        {{!-- <button onclick="send({{}})">Click here for more Details</button> --}}
        </tr>
        </tbody>
    {{/each}}
    </table>
</section>