
{{#if isLoggedIn}}
<div><a href="/userProfile">User Profile</a></div>
<div><a href="/logout">Logout</a></div>
{{else}}
<a href="/login">Login</a>
{{/if}}
<p>Success</p>
<dl>

  <dt>Flight Code</dt>
  <dd>{{{flightDetails.flightCode}}}</dd>
  <dt>Departure City</dt>
  <dd>{{flightDetails.departure}}</dd>
  <dt>Arrival City</dt>
  <dd>{{flightDetails.arrival}}</dd>
  <dt>Departure Time</dt>
  <dd>{{flightDetails.departureTime}}</dd>
  <dt>Arrival Time</dt>
  <dd>{{flightDetails.arrivalTime}}</dd>
  <dt>Flight Duration</dt>
  <dd>{{flightDetails.duration}}</dd>
</dl>
<table class="invoice">
    <tr>
        <th>Sr No.</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Passport Number</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Booked Class</th>
        <th>Food Choice</th>
    </tr>
    {{#each travelers}}
    <tr>
        <td>{{@index}}</td>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.passportNumber}}</td>
        <td>{{this.dateOfBirth}}</td>
        <td>{{this.gender}}</td>
        <td>{{this.email}}</td>
        <td>{{this.phoneNumber}}</td>
        <td>{{this.bookedClass}}</td>
        <td>{{this.food}}</td>
    </tr>
    {{/each}}
    <tr>
        <td>Total Price : {{totalPrice}}</td>
    </tr>
</table>

<div><a href="/searchflights/flightdetails/:id/book/success/emailconfirmation">Click here to get email confirmation via mail</a></div>