<section>
        <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid well" id="home" style="display:block; padding-top:10px;padding-bottom:10px">
            
        <ul class="navbar-nav">
    {{#if isLoggedIn}}
    <li class="nav-item" style="float:right;display:block;padding-left:10px;padding-right:10px;">
    <a class="nav-link" href="/userProfile">User Profile</a>
    </li>
    <li class="nav-item" style="float:right;display:block;padding-left:10px;padding-right:10px;">
    <a class="nav-link" href="/logout">Logout</a></li>
    {{else}}
    <li class="nav-item" style="float:right;display:block;padding-left:10px;padding-right:10px;">
    <a class="nav-link" href="/login">Login</a></li>
    {{/if}}
    </ul>
        </div>
        </nav>
<p>Success</p>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Flight Code</td>
            <td>Departure City</td>
            <td>Arrival City</td>
            <td>Departure Time</td>
            <td>Arrival Time</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{{flightDetails.flightCode}}}</td>
            <td>{{flightDetails.departure}}</td>
            <td>{{flightDetails.arrival}}</td>
            <td>{{flightDetails.departureTime}}</td>
            <td>{{flightDetails.arrivalTime}}</td>
        </tr>
      </tbody>
</table>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Sr No.</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Passport Number</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Booked Class</th>
        <th>Food Choice</th>
    </tr>
    </thead>
    <tbody>
    {{#each travelers}}
    <tr>
        <td>{{@index}}</td>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.passportNumber}}</td>
        <td>{{this.dateOfBirth}}</td>
        <td>{{this.gender}}</td>
        <td>{{this.email}}</td>
        <td>{{this.phoneNumber}}</td>
        <td>{{this.bookedClass}}</td>
        <td>{{this.food}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>

<table class="table table-striped">
    <tbody>
    <tr>
        <td>Total Price</td>
        <td>{{totalPrice}}</td>
    </tr>
    </tbody>
</table>

<div><a href="/searchflights/flightdetails/:id/book/success">Download ticket</a></div>

<div><a href="/searchflights/flightdetails/:id/book/success/emailconfirmation">Click here to get email confirmation via mail and be redirected to Homepage</a></div>
</section>